{{#if addNewAnswer}}
<h1>New Answer</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="body">Answer:</label>
        {{input value=body id="body"}}
      </div>
      <div class="form-group">
        <label for="author">Name:</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="experience">Experience</label>
        {{input value=experience id="experience" placeholder='beginner, some experience, pro, etc...'}}
      </div>
      <button {{action 'saveAnswer'}}  class='btn btn-info'>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'answerFormShow'}} class='btn btn-success'>New Answer</button>
{{/if}}
