{{question.body}} -- {{question.author}}, {{question.experience}}

<button {{action 'delete' question}} class='btn btn-danger'>Delete</button>

<h2> Answers </h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>
